@model Job_Broker_Online.Models.Profile

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_myLayout2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMaoriOrPacific)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMaoriOrPacific)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicalAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Institute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QualificationTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualificationTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QualificationCompletionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualificationCompletionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobExpection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobExpection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
