﻿
@{ ViewBag.Title = "_myLayout"; }

<!DOCTYPE html>
<html>
<head>
    <title>Job Broker Online</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body id="myPage">

    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
            <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
            <div class="w3-dropdown-hover w3-hide-small">
                <button class="w3-button" title="Notifications"> Registration <i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                    <a onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">Admin</a>
                    <a onclick="document.getElementById('id02').style.display='block'" class="w3-bar-item w3-button">Employee</a>
                    <a onclick="document.getElementById('id03').style.display='block'" class="w3-bar-item w3-button">Student</a>
                </div>
            </div>
            <a onclick="document.getElementById('id04').style.display='block'" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Login</a>
            <a onclick="document.getElementById('id05').style.display='block'" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Testing Buttons</a>
        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
            <a onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">Admin Registration</a>
            <a onclick="document.getElementById('id02').style.display='block'" class="w3-bar-item w3-button">Employee Registration</a>
            <a onclick="document.getElementById('id03').style.display='block'" class="w3-bar-item w3-button">Student Registration</a>

            <a onclick="document.getElementById('id04').style.display='block'" class="w3-bar-item w3-button">Login</a>
        </div>
    </div>

    <!-- PopupWindow: Admin Registration -->
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-top">
            <header class="w3-container w3-teal w3-display-container">
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
                <h4>Admin Registration</h4>
            </header>
            <div class="w3-container">

                <form action="/Admins/Create" method="post">
                    <input name="__RequestVerificationToken" type="hidden" value="9GBb1vA9bW-yL99_TMJq634xn-iEjpijpV5-6YVlqIIXL-HyONwJ7-xCy2smzkEM72L-mzogsXMiyNfJ-wlqCVxF6ApJPKV9uulIrLfzYFs1" />
                    <div class="form-horizontal">
                        <h4>Admin</h4>
                        <hr />

                        <div class="form-group">
                            <label class="control-label col-md-2" for="AccountName">AccountName</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="AccountName" name="AccountName" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="AccountName" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="Password">Password</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="Password" name="Password" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="ContactNumber">ContactNumber</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="ContactNumber" name="ContactNumber" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="ContactNumber" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="Email">Email</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="Email" name="Email" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <footer class="w3-container w3-teal">
                <p>Footer</p>
            </footer>
        </div>
    </div>

    <!-- PopupWindow: Employee Registration -->
    <div id="id02" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-top">
            <header class="w3-container w3-teal w3-display-container">
                <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
                <h4>Employee Registration</h4>
            </header>
            <div class="w3-container">

                <form action="/Employees/Create" method="post">
                    <input name="__RequestVerificationToken" type="hidden" value="f16ExQprIUnyf3r-9h-ChZ-iD5V2RDh-nIknR_MdtUBGmrXc0nrV9HospK0ATF2k5_tznn7I4hYjKtIYrDv_sib27ZSqRKRIHKPe_QMCJL81" />    <div class="form-horizontal">
                        <h4>Employee</h4>
                        <hr />

                        <div class="form-group">
                            <label class="control-label col-md-2" for="AccountName">AccountName</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="AccountName" name="AccountName" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="AccountName" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="Password">Password</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="Password" name="Password" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="CompanyName">CompanyName</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="CompanyName" name="CompanyName" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="CompanyName" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="PersonToConract">PersonToConract</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="PersonToConract" name="PersonToConract" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="PersonToConract" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="ContactNumber">ContactNumber</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="ContactNumber" name="ContactNumber" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="ContactNumber" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="ContactEmail">ContactEmail</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="ContactEmail" name="ContactEmail" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="ContactEmail" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="CompanyAddress">CompanyAddress</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="CompanyAddress" name="CompanyAddress" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="CompanyAddress" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <footer class="w3-container w3-teal">
                <p>Footer</p>
            </footer>
        </div>
    </div>

    <!-- PopupWindow: Student Registration -->
    <div id="id03" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-top">
            <header class="w3-container w3-teal w3-display-container">
                <span onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
                <h4>Student Registration</h4>
            </header>
            <div class="w3-container">

                <form action="/Students/Create" method="post">
                    <input name="__RequestVerificationToken" type="hidden" value="RYwNHYMA3W7fodFBRolp4_h31kgTSEb8ISyYI3s14N4q0N5qX8cA28HPctn5nxyv7WJHwk3O0_6LnV5DRIlhYxMFNNRGyUQotiaFQtPlTGA1" />    <div class="form-horizontal">
                        <h4>Student</h4>
                        <hr />

                        <div class="form-group">
                            <label class="control-label col-md-2" for="StudentId">StudentId</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" data-val="true" data-val-number="The field StudentId must be a number." data-val-required="StudentId 字段是必需的。" id="StudentId" name="StudentId" type="number" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="StudentId" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="Password">Password</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="Password" name="Password" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="FullName">FullName</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="FullName" name="FullName" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="FullName" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="IsMaoriOrPacific">IsMaoriOrPacific</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="IsMaoriOrPacific" name="IsMaoriOrPacific" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="IsMaoriOrPacific" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="Gender">Gender</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="Gender" name="Gender" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Gender" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="DateOfBirth">DateOfBirth</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" data-val="true" data-val-date="The field DateOfBirth must be a date." id="DateOfBirth" name="DateOfBirth" type="datetime" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="DateOfBirth" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="ContactNumber">ContactNumber</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="ContactNumber" name="ContactNumber" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="ContactNumber" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="Email">Email</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="Email" name="Email" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <footer class="w3-container w3-teal">
                <p>Footer</p>
            </footer>
        </div>
    </div>

    <!-- PopupWindow: Login -->
    <div id="id04" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-top">
            <header class="w3-container w3-teal w3-display-container">
                <span onclick="document.getElementById('id04').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
                <h4>Login</h4>
            </header>
            <div class="w3-container">

                <form action="/Login/Index" method="post">
                    <div class="imgcontainer">
                        <img src="~/Content/images/LoginPic.jfif" alt="Avatar" class="avatar">
                    </div>

                    <div class="container">
                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required><br />

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required><br />

                        <button type="submit">Login</button>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                    </div>

                    <div class="container" style="background-color:#f1f1f1">
                        <button type="button" class="cancelbtn">Cancel</button>
                        <span class="psw">Forgot <a href="#">password?</a></span>
                    </div>
                </form>

                <br />
                @Html.ActionLink("Go to AdminPage", "Index", "StudentCases") <br />
                @Html.ActionLink("Go to EmployeePage", "Index", "Employees") <br />
                @Html.ActionLink("Go to StudentPage", "Index", "Students")

            </div>
            <footer class="w3-container w3-teal">
                <p>Footer</p>
            </footer>
        </div>
    </div>

    <!-- Testing Buttons-->
    <div id="id05" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-top">
            <header class="w3-container w3-teal w3-display-container">
                <span onclick="document.getElementById('id05').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
                <h4>Testing Buttons</h4>
            </header>
            <div class="w3-container">
                <p>Testing Buttons</p>

                <br />
                @Html.ActionLink("Go to Admin List", "Index", "Admins") <br />
                @Html.ActionLink("Go to Employee List", "Index", "Employees") <br />
                @Html.ActionLink("Go to Student List", "Index", "Students") <br />
                @Html.ActionLink("Go to Job Information list", "Index", "JobInformations") <br />
                @Html.ActionLink("Go to Student Case List", "Index", "StudentCases")

            </div>
            <footer class="w3-container w3-teal">
                <p>Footer</p>
            </footer>
        </div>
    </div>



    @RenderBody()

    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
        <h4>Follow Us</h4>
        <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
        <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
        <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
        <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
        <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>

        <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
            <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>
            <a class="w3-button w3-theme" href="#myPage">
                <span class="w3-xlarge">
                    <i class="fa fa-chevron-circle-up"></i>
                </span>
            </a>
        </div>
    </footer>

    <script>

        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>

</body>
</html>