@model IEnumerable<Job_Broker_Online.Models.StudentCase>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_myLayout2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentEmailLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QualificationTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecommendedJobs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Progress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfileLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExplanatoryComments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentEmailLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QualificationTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecommendedJobs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Progress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExplanatoryComments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentId })
        </td>
    </tr>
}

</table>
